
div{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
}
.odd{
    background-color: #e97ae0;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#two{
    color:#0000ff;
    font-size: 36px;
}
.font-size-adjust{
    font-size:24px;
}
#four{
    background-color: #0bd390;
    font-size: 24px;
    font-weight: bold;
}
.button{
    font-size: 28px;
    font-family: Helvetica,'Times New Roman', sans-serif;
}
.buttonone{
    background-color:black;
    color:white;
}
.buttontwo{
    background-color: yellow;
}